body{
	background-image: url('../images/bg.png');
	margin:0;
}
nav{
	background: #fff;
	padding: 1em;
		.logo{
			background-image: url('../images/logo.png');
			background-repeat:no-repeat;
			height: 3em;
			background-size: contain;
		}
		.brand{
			position:absolute;
			left:21%;
			bottom: 89%;
			font-size: 2em;
			color: #006400;
			text-shadow: 1px 1px 2px black; 
		}
		.navLinks{
			display:none;
			// margin: 0 2em;
			// float:right;
			// text-decoration: none;
			// color: black;
			// font-size:1em;
		}
}
.joby{
	background: #fff;
	padding: 2em;
	border: solid 1px #ccc;
}

.posty{
	background: #fff;
	padding: 2em;
	border: solid 1px #ccc;
	box-shadow: 10px 5px 5px #ccc;
		.form{
			margin-top:1em;
		}
		input{
			width: 100%;
		}
		textarea{
			width:100%;
			display:block;
		}
		button{
			float:right;
			background-color:green;
			color:white;
			padding: 1em;
			border-radius: 1em;
			margin-top:1em;
		}

}
.jobRow{
	background: #fff;
	box-shadow: 10px 5px 5px #ccc;
	margin: 1em;
	padding:1em;
}
.comInfo{
	border: solid 1px #ccc;
	margin: 1em;
	max-height: 500px;
		.bgImg{
			margin: 2em 1em;
			width: 95%;
			background-size: cover;
			height:7em;
		}
		.companyLogo{
			height:5em;
			position: relative;
			left: calc(50% - 33.5px);
			top: 3em;

		}
		.companyName{
			text-align:center;
		}
		.companyLocal{
			text-align:center;
		}

}




@media only screen and (min-width: 935px){
	.joby{
		float:right;
		width: 25%;
		margin: 1em 2em;
	}
	.posty{
		float:left;
		margin: 1em 2em;
		width: 45%;
	}
	nav{
		.brand{
			left:12%;	
		}
		.Links{
			position:absolute;
			top: 8%;
			left:30%;
		}
		.navLinks{
			display:inline;
			margin: 0 2em;
			text-decoration: none;
			color: black;
			font-size:1em;
		}
	}

}