body {
  background-image: url("../images/bg.png");
  margin: 0;
  font-family: sans-serif; }

nav {
  background: #fff;
  padding: 1em;
  overflow: hidden;
  border-top: #525252 1em solid; }
  nav .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 3em;
    background-size: contain; }
  nav .brand {
    position: absolute;
    left: 21%;
    bottom: 89%;
    font-size: 2em;
    color: #006400;
    text-shadow: 1px 1px 2px black; }
  nav .Links {
    padding: 1em;
    float: right; }
  nav .navLinks {
    margin: 0 2em;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 1em; }

.fullBody {
  margin: 0 1em; }

.fullLookingJob {
  background: #F7FEE8;
  border: 2px solid #E1FAB3;
  padding: 2em;
  margin: 1em; }
  .fullLookingJob .lookingTitle {
    font-size: 1.5em; }
  .fullLookingJob .lookingCreate {
    padding-top: 1em; }
  .fullLookingJob button {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    background: #666666;
    color: #fff;
    border: none;
    font-size: 1em; }

.tips {
  background-color: #fff;
  padding: 2em;
  margin-top: 1em; }

.posty {
  background: #fff;
  padding: 4em 2em;
  border: solid 1px #ccc;
  box-shadow: 10px 5px 5px #ccc;
  margin-top: 1em; }
  .posty .form {
    margin-top: 1em; }
  .posty input {
    width: 100%; }
  .posty textarea {
    width: 100%;
    display: block; }
  .posty button {
    float: right;
    background-color: green;
    color: white;
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em; }

.jobbie {
  background: #fff;
  box-shadow: 10px 5px 5px #ccc;
  padding: 1em;
  box-sizing: border-box;
  margin-top: 1em; }
  .jobbie .jobRow {
    padding: 1em; }
  .jobbie .jobTitle {
    color: #006325;
    text-decoration: none;
    font-size: 1.5em; }

.para {
  margin: 0;
  color: #8C8C8C;
  font-size: .9em; }

.jobDesc {
  font-size: 1.2em;
  padding-top: 1em; }

.comInfo {
  border: solid 2px transparent;
  margin: 1em;
  background: #fff;
  text-align: center; }
  .comInfo .bgImg {
    background-size: cover; }
  .comInfo .companyLogo {
    position: relative;
    top: 3em; }
  .comInfo .companyName {
    padding: 3em 1em 1em; }

.formy {
  padding: 1em; }
  .formy .filter {
    width: 40%;
    float: left; }
  .formy .inputty {
    width: 75%;
    padding: .5em; }
  .formy button {
    padding: 0.5em 3em;
    background: #3A9C44;
    margin-top: .5em;
    border-radius: .5em;
    border: none;
    color: white;
    font-size: 1em; }

@media (min-width: 992px) {
  .tips {
    float: right;
    width: 25%;
    margin: 1em 2em; }
  .posty {
    float: left;
    margin: 1em 2em;
    width: 45%;
    padding: 2em; }
  nav .brand {
    left: 12%; }
  nav .Links {
    position: absolute;
    top: 5%;
    left: 30%; }
  nav .navLinks {
    display: inline;
    margin: 0 2em;
    text-decoration: none;
    color: black;
    font-size: 1em; }
  .jobbie {
    float: left;
    width: 70%; }
  .sideBar {
    float: right;
    width: 30%; } }
